* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28 px rgba(0, 0, 0, 0.25), 0 10px 100px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 480px;
    transition: all 0.6s ease-in-out;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

form {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
}

button {
    border-radius: 20px;
    border: 1px solid #4facfe;
    background-color: #4facfe;
    color: white;
    font-size: 14px;
    padding: 10px 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #00c6fb;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}


.password-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #555;
}

.caps-msg {
    color: red;
    font-size: 0.75em;
    margin-top: 4px;
    display: none;
    text-align: left;
}

.password-rules {
    display: none;
    font-size: 0.85em;
    color: #ff3333;
    margin-top: 5px;
}

.password-rules p {
    font-weight: bold;
}

.password-rules ul {
    padding-left: 20px;
    margin: 0;
}

.password-rules li {
    list-style: square;
    margin-bottom: 3px;
}

#reg-password-rules li {
    list-style: none;
    margin-bottom: 4px;
    font-weight: 500;
}

#reg-password-strength {
    font-weight: bold;
    margin-top: 10px;
}

#signup-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.6;
}